{% extends "layout.html"%}
{#HEADER#}
{% block LMV02 %}
    {%include "partials/header.html"%}
{% endblock LMV02 %}

{#CTA#}
{% block LMV03 %}
{% include "partials/home.html" %}
{% endblock LMV03 %}

{#NOTICIAS#}
{% block LMV04 %}

{% endblock LMV04 %}

{#INFORMAÇÕES#}
{% block LMV05 %}

{% endblock LMV05 %}

{#AGENTES#}
{% block LMV06 %}

{% endblock LMV06 %}

{#FOOTER#}
{% block LMV07 %}

{% endblock LMV07 %}

{#SCRIPTS#}
{% block scripts %}

{% endblock scripts %}

{#STYLES#}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/styles/header-style.css"/> 
<link rel="stylesheet" href="/styles/home_style.css">
{% endblock styles %}