<footer>
    <div class="footer-main">
        <img class="footer-logoriot" src="images/footer-logoriot.svg" alt="">
        <div class="footer-redes">
            <a href="http://discord.gg/valorant-br" target="_blank" rel="noopener noreferrer"><img src="images/Discord.svg"></a>
            <a href="https://www.facebook.com/groups/VALORANT.oficialbr/" target="_blank" rel="noopener noreferrer"><img src="images/Facebook.svg"></a>
            <a href="https://www.youtube.com/channel/UC8CX0LD98EDXl4UYX1MDCXg" target="_blank" rel="noopener noreferrer"><img src="images/Youtube.svg"></a>
            <a href="https://twitter.com/VALORANTBrasil?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" rel="noopener noreferrer"><img src="images/Twitter.svg"></a>
            <a href="https://www.instagram.com/valorantbrasil/?hl=pt-br" target="_blank" rel="noopener noreferrer"><img src="images/Instagram.svg"></a>
        </div>
        <p class="footer-copyright">©RIOT GAMES, INC. RIOT GAMES, VALORANT E QUALQUER<br> LOGOTIPO ASSOCIADOS</p>
    </div>
</footer>