<header class="cabecalho">
        <div class="cabecalho-left-content">
            <img class="cabecalho-logo-riot" src="/images/logo-riot.svg">
            <div class="cabecalho-linha-vertical"></div>
            <img class="cabecalho-logo-valorant" src="/images/logo-valorant.svg">
        </div>
        
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item">Informações do jogo</a>
            <a class="cabecalho-menu-item">Notícias</a>
            <a class="cabecalho-menu-item">Suporte</a>
        </nav>
        <div class="cabecalho-perfil">
            <img class="cabecalho-perfil-imagem" src="/images/foto-perfil.svg">
            <a class="cabecalho-perfil-item">Nome do usuário</a>
        </div>
    </header>