<header class="header-cabecalho">
        <div class="header-cabecalho-left-content">
            <img class="header-cabecalho-logo-riot" src="/images/logo-riot.svg">
            <div class="header-cabecalho-linha-vertical"></div>
            <img class="header-cabecalho-logo-valorant" src="/images/logo-valorant.svg">
        </div>
        
        <nav class="header-cabecalho-menu">
            <a class="header-cabecalho-menu-item">Jogue agora</a>
            <a class="header-cabecalho-menu-item">Notícias</a>
            <a class="header-cabecalho-menu-item">Sobre o jogo</a>
            <a class="header-cabecalho-menu-item">Agentes</a>
        </nav>
        <div class="header-cabecalho-perfil">
            <img class="header-cabecalho-perfil-imagem" src="/images/foto-perfil.svg">
            <a class="header-cabecalho-perfil-item">Nome do usuário</a>
        </div>
</header>