
<header class="header-cabecalho">
        <div class="header-cabecalho-left-content">
            <img class="header-cabecalho-logo-riot" src="/images/header-logo-riot.svg">
            <div class="header-cabecalho-linha-vertical"></div>
            <img class="header-cabecalho-logo-valorant" src="/images/header-logo-valorant.svg">
        </div>
        
        <nav class="header-cabecalho-menu">
            <a class="header-cabecalho-menu-item" href="#section-jogueagora">Jogue agora</a>
            <a class="header-cabecalho-menu-item" href="#section-noticias">Notícias</a>
            <a class="header-cabecalho-menu-item" href="#section-sobreojogo">Sobre o jogo</a>
            <a class="header-cabecalho-menu-item" href="#section-agentes">Agentes</a>
        </nav>
        <div class="header-cabecalho-right">
            <div class="header-cabecalho-right-acessibilidadeBar">
                <button class="header-botao-acessibilidade" id = "Bttndecrement"><img class="header-botao-acessibilidade-img" src="images/header-botao-acessibilidadeA-.svg"></button>
                <button class="header-botao-acessibilidade" id = "Bttnrecovery"><img class="header-botao-acessibilidade-img" src="images/header-botao-acessibilidadeA.svg"></button>
                <button class="header-botao-acessibilidade" id= "Bttnincrement"><img class="header-botao-acessibilidade-img" src="images/header-botao-acessibilidadeA+.svg"></button>
            </div>
            <div class="header-cabecalho-right-logout" id="Bttnlogout">
            Sair<img class="header-cabecalho-right-logout-img" src="/images/header-logout.svg"></div>
        </div>
        <script type="module" src="\scripts\header.js"></script>
</header>
