<main class="main">
    <p class="noticias-text">NOTÍCIAS</p>
    <section class="content">
        <div class="noticias-content">
            <div clas="chamada">
                <img class="chamada-texto" src="images/logo-loud.svg">
                <span class="x-verde">x</span>
                <img class="chamada-texto" src="images/valorant-verde.svg" alt="">
            </div> 
            <p class="conteudo-texto"><strong>VALORANT Champions 2022: <span class="texto-verde">LOUD</span> vence <br>a DRX e ganha passe para disputar a <span class="texto-verde">final <br>da Upper</span></strong></p>
        </div>
        <img class="time-loud-image" src="images/time-loud.svg">
    </section>
</main>
