<main class="main">
    <section class="content">
        <div class="noticias-content">
            <p class="noticias-text">NOTÍCIAS</p>
            <img class="chamada-texto" src="images/loudxvalorant.svg">
            <p class="conteudo-texto"><strong>VALORANT Champions 2022: <span class="texto-verde">LOUD</span><br> campeã mundial<span class="texto-verde"> final da Upper</span></strong></p>
            <img class="time-loud-image" src="images/LOUD team img.svg">
        </div>
        <div class="right-content">
            <img class="loud-image" src="images/loud txt.svg">
        </div>
    </section>
    <div class="noise-lineup">
        <p class="followthenoise"><span>#FOLLOWTHENOISE</span></p>
        <p class="lineup">Matias <span>“saadhak”</span> Delipetro,  Erick <span>"aspas"</span><br>Santos, Gustavo <span>"sacy"</span> Rossi,  Bryan <span>"pancada"</span><br> Luna, Felipe <span>"Less"</span> Basso.</p>
    </div>
</main>
