@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    /* background */

    position: absolute;
    width: 2663px;
    height: 1492px;
    left: -2px;
    top: 132px;

    background: white;;
}

.home-right-content{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.home-retangulo{
    /* Rectangle */

    position: absolute;
    width: 2660px;
    height: 1487px;
    left: 0px;
    top: 132px;

    background: #111B27;
}

.home-imagem-personagens{
    /* image 27 */

    position: absolute;
    width: 1883px;
    height: 1152px;
    left: 777px;
    top: 467px;

    background: url(public\images\foto-personagens.svg);
}


.home-polygon-right{
    /* Polygon 1 */

   
    position: absolute;
    width: 2928.48px;
    height: 3065.11px;
    left: 866px;
    top: 2288.76px;

    background: #FF4655;
    transform: matrix(0.11, -0.99, 1, 0.09, 0, 0);
}
.home{
    /* Frame 1 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 860px;
    height: 185px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


    /* Content button */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    position: absolute;
    width: 860px;
    height: 326px;
    left: 223px;
    top: 437px;
    }

.home-texto{
    /* Um jogo de tiro tático 5x5 com personagens originais */

    width: 672px;
    height: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.home-titulo-image{
    /* F000000ff */

    position: absolute;
    left: 1.97%;
    right: -1.97%;
    top: 0%;
    bottom: 0%;

}

.home-botao{
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 26px 42px;

    width: 414px;
    height: 81px;

    color: white;
    background: #FF4655;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
