@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    width: 1495px;
    height: 754px;
    text-decoration: none;
}


.login-main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;        
    align-items: center;
    width: 1495px;
    height: 754px;
    background-image: url("/images/login-background.png");
    background-size: 1495px;
    background-repeat: no-repeat;
    background-position: center;
}


.login-left-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 540px;
    padding-left: 320px;
    padding-right: 96px;	
}

.login-texto{
    font-family: 'Montserrat';
    font-weight: bolder;
    color: white;
    font-size: 50px;
    width: 520px;
    height: 116px;
    padding-bottom: 60px;
}

.login-right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 366px;
    height: 600px;
    max-width: 366px;
    max-height: 600px;
    min-width: 366px;
    min-height: 600px;
    gap: 50px;
    
}



.login-right-content-mensagem{
    font-family: 'Montserrat';
    padding-left: 40px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 20px;
    height: 80px;
    width: 260px;
    
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    max-width: 340px;
    max-height: 330px;
    width: 340px;
    height: 330px;
    max-width: 340px;
    max-height: 330px;
    padding: 32px;
    

}

.login-valorant-img{
    height: 60px;
    width: 390px;

}

.login-forms{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    max-width: 300px;
    max-height: 600px;
    min-width: 300px;
    max-width: 600px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;

}

.login-input{
    font-family: 'Montserrat';
    font-weight: 400;
    color: black;
    font-size: 14px;
    border: 1.9px solid #BDBDBD;
    box-shadow: #333333;
    width: 296px;
    height: 45px;
    padding-left: 10px;
    padding-inline: 18px;
    border-radius: 2px;
    border-color: #BDBDBD;
    margin-bottom: 4px;

}

.login-label{
    font-family: 'Montserrat';
    font-weight: 550;
    color: black;
    font-size: 8px;
    width: 300px;
    height: 10px;
    padding-bottom: 5px;
}

.login-button{
    width: 338px;
    height: 48px;
    background-color: #FF4655;
    color: white;
    font-family: 'Montserrat';
    font-weight: 550;
    font-size: 12px;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}

.login-button:hover{
    background-color: #ff0015;
}

.login-ancora-cadastro{
    width: 346px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: black;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

}


span#confirmar-usuario-senha-login{
    font-family: 'Montserrat';
    font-weight: 550;
    color: #C72C2C;
    font-size: 10px;
    width: 200px;
    height: 10px;
}


