@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.noticias-main{
    background-image: url("/images/noticias-Elementos img.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #111B27;
    width: auto;
    height: 114.5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
.noticias-text{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    color: white;
    margin: 0px;
    padding-top: 6%;
    padding-bottom: 2%;
    width: 100%;
    height: 50%;
}
.noticias-Mcontent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 62%;
    
}
.noticias-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    margin: 0px;
}
.noticias-chamada{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.noticias-chamada-texto{
    padding-top: 10%;
    height: 30%;
    width: 65%;
    z-index: 3;
}
.noticias-conteudo-texto{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 100%;
    color: white;
    width: 80%;
    height: 50%;
    text-align: start;
    padding-top: 5%;
    z-index: 3;
}
.noticias-texto-verde{
    color:#02E63B;
}
.noticias-x-verde{
    font-family: 'Montserrat', sans-serif;
    font-weight: 30px;
    font-size: 25px;
    color: #02E63B;
    line-height:10px;
    margin-bottom:  10px;
}
.noticias-time-loud-image{
    height: 200%;
    width: 264%;
    margin:0px;
    padding-left: 55%;
    padding-top: 16%;
    z-index: 1;
}

.noticias-right-content{
    display: flex;
    flex-direction: column;
    width: 300%;
    height: 100%;
    overflow: hidden;
    
}
.noticias-loud-image{
    height: 90%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    padding-top: 3%;
}
.noticias-noise-lineup{
    display: flex;
    flex-direction: column;
    gap:10%;
    z-index: 5;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 60%;
    color: white;
    text-align: start;
    width: 50%;
    height: 15%;

    padding-top: 15%;
}
.noticias-followthenoise{
    height: auto;
}
.noticias-lineup{
    height: auto;
}
span{
    color: #02E63B;
}
